.pick {
  background-color: tomato;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 28px;
  left: 122px;
}
.pick--more {
  background-color: tomato;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 28px;
  left: 190px;
}
